.content_wrapper {
    display: flex;
    flex-direction: row;

    .left {
        width: 73%;
        margin-left: 1%;
        margin-right: 1%;
    }
    .right {
        width: 24%;
        margin-right: 1%;
    }
}