.movie {
  max-width: 200px;
  margin: 0 1rem 1rem 0;
  overflow: hidden;
  min-width: 200px;

  img {
    max-height: 250px;
    max-width: 210px;
  }

  .moviesDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
  }
}
