.movieDetails {
  width: 30%;
  padding: 2rem 0;
  position: relative;
  min-height: 1000px;
}

.likeSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
