@import '../../variables';

.wrapper {
    display: flex;
    justify-content: space-between;

    .imageWrapper {
        width: 120px;
        padding: 8px 16px;

        img {
            width: 100%;
        }
    }

    ul {
        display: flex;
        flex-direction: row;
        
        li {
            margin-right: 2rem;
            list-style: none;

            a {
                text-decoration: none;
                color: $text-color;                
            }
        }
    }

}