@import '../../variables.scss';

.detailsWrapper {
    padding: 0.5rem 2rem;

    .insights {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    
        .placeDetails,.placeImage {
            width: 50%;
        }
    
        .placeImage {
            height: auto;
        }

        .placeDetails {

            .temperature {
                font-size: 1.5rem;
            }
        }
    
        h4 {
            background-color: $primary-color;
            color: white;
            padding: 2rem;
            font-size: 2rem;
            margin: 1rem 0;
        }
    }
}
