.component-wrapper.promo {
    display: flex;
    flex-flow: row;
    margin-top: 1rem;

    .form-wrapper {
        width: 40%;
        position: relative;
        display: flex;
        justify-content: center;
        flex-flow: column;
        align-items: flex-end;
        padding-right: 3rem;
        
        h4 {
            font-size: 2.4rem;
            margin: 0;
            font-weight: 400;   
            width: 318px;        
        }

        h1 {
            font-size: 3rem;
            font-weight: 300;
            margin: 1rem 0 0 0;
        }
        form, h1 {
            width: 318px;
        }

        .cars-label {
            font-size: 1.2rem;
            margin-right: .5rem;
        }

        .cars-list {
            padding: 0.5rem;    
            width: 100%;
            margin-bottom: 1.5rem;
        }
    }

    .promo-image {
        width: 50%;

        img {
            width: 100%;
            height: auto;
        }
    }
}
