.blogDetails{
    padding: 1rem;
    color: var(--theme-text-color);
    text-align: left;

    Button {
        width: 140px;
        align-self: flex-start;        
    }

    p {
        text-align: justify;
    }
}