.component-wrapper.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(166,166,166,0.1);
    padding: 2rem 0;

    .form-wrapper {
        h1 {
            margin: 0;
        }
        p {
            margin: 0.2rem 0 1.5rem 0;
        }

        .form-field {
            margin-bottom: 1.5rem;

            label {
                font-size: .9rem;
                display: block;
                margin-bottom: .5rem;
                color: black;
                font-weight: 500;
            }
    
            select.list, input {
                padding: 0.7rem;
                min-width: 360px;
            }
        }
    }
}
