.modal {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 40%;
  background-color: var(--theme-primary);
  z-index: 10;
  transition: all 3s ease;
}

.overlay {
  background-color: rgba($color: #000000, $alpha: 0.4);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
}

.modalAnim-enter {
  opacity: 0;
  transform: scale(0.9);
}
.modalAnim-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.modalAnim-exit {
  opacity: 1;
}
.modalAnim-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
