
.contentWrapper {

    padding: 0 2rem;  

    .destinationList {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
    
        h1{
            font-size: 1.5rem;
            font-weight: 500;
        }
    
        div.item {
            margin-right: 1%;
            width: 32.33%;   
            margin-bottom: 2rem;
            
            img {
                width: 100%;
            }
        }
    }
}

.noDestinations {
    text-align: center;
    margin: 8rem 0;
    font-size: 2rem;
}