@import '../../variables.scss';
.header {
    background-color: $primary;
    display: flex;
    justify-content: space-between;    
    color: white;
    height: $header-height;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    margin: 0;

    &.timer {
        padding: 0 1rem;
    }

    li {
        position: relative;
        margin-right: 0.5rem;
        font-weight: 500;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &.logo {
          img{
            width: 100px;
            height: auto;
          }  
        }
        &.prime {
            img{
                width: 30px;
                position: absolute;
                top: 0;            
                margin-top: 4px;    
            }  
        }
        
        ul {
            padding: 0;
        }
    }
}