.videoWrapper {
  overflow: hidden;
  padding: 8px;
  position: relative;

  &.medium {
    // width: 400px;
    height: 200px;
  }

  &.small {
    // width: 300px;
    height: 150px;
  }

  &.xsmall {
    // width: 100px;
    height: 100px;
  }

  .video {
    width: auto;
    height: 100%;
  }

  &.large {
    width: 100%;
    height: auto;

    .video {
      width: 100%;
      height: auto;
    }
  }

  .ad_medium {
    position: absolute;
    width: 500px;
    height: 300px;
    top: 0;
  }
}
