.blog{
    background-color: var(--theme-secondary);
    margin-top: 1.5rem;
    padding: 1rem;
    color: var(--theme-text-color);
    text-align: left;
    cursor: pointer;
    
    h4 {
        margin: 0 0 12px 0;
    }

    .type {
        color: var(--theme-primary-action);
        margin: 0;
    }

    .details {
        height: 56px;
        overflow: hidden;
        text-align: justify;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        margin: 12px 0 0 0;
    }
}