.formField {
    margin-bottom: 1.5rem;

    label {
        font-size: .9rem;
        display: block;
        margin-bottom: .5rem;
        color: black;
        font-weight: 500;
    }

    input {
        padding: 0.7rem;
        min-width: 320px;
    }
}