
.contentWrapper {

    padding: 0 2rem;  

    .destinationList {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
    
        h1{
            font-size: 1.5rem;
            font-weight: 500;
        }
    }
}

.noDestinations {
    text-align: center;
    margin: 8rem 0;
    font-size: 2rem;
}